*{margin: 0;padding: 0;}
body{width: 1220px;margin: 0 auto;background-color: white;font-family: "微软雅黑";font-size: 12px;}
ul,li{list-style: none;}
a{text-decoration: none;color: black;}


.top {
    width: 1220px;
    height: 222px;
    position: absolute;
    background-image: url(../img/topbg.png);
}

.logo {
    width: 152px;
    height: 307px;
    position: relative;
    left: 48px;
    z-index: 100;
}

.top1 {
    width: 200px;
    height: 30px;
    position: relative;
    left: 780px;
    top: -300px;
    color: white;
}
.top1 a{
    text-decoration: none;
    color:white ;
}
.top2 {
    width: 800px;
    height: 50px;
    position: absolute;
    left: 220px;
    top: 50px;
}

#top2_h {
    color: slategray;
    float: left;
}

#top2_p {
    float: right;
    color: darkgrey;
}

.nav {
    width: 800px;
    height: 99px;
    position: absolute;
    left: 220px;
    top: 123px;
}

.nav1 {
    height: 60px;
}

.nav1 ul {
    list-style: none;
}

.nav1 ul li {
    float: left;
}
.nav1 ul li a {
    display: block;
    font-size: 16px;
    color: #708090;
    text-decoration: none;
    width: 80px;
    height: 30px;
    text-align: center;
    margin-top: 15px;
    margin-right: 10px;
}
.nav1 ul li a:hover{
    
    font-weight: bold;
}
.nav2 {
    height: 39px;
}

.nav2 ul {
    list-style: none;
    position: relative;
    left: 30px;
    top: 10px;
}

.nav2 ul li {
    float: left;
}

.nav2 ul li a {
    font-size: 14px;
    margin: 0px 7px;
    text-decoration: none;
    color: white;
}

.banner {
	width: 1200px;
	height: 424px;
	position: absolute;
	top: 222px;
}


#about_us{
	width:860px ;
	height:800px;
	position: absolute;
	top:680PX;
	margin-left:170px ;
	
}
#about_us .about_us_position{
	height:40px;
	width:860px ;
	border:1px solid #28828B ;
	line-height: 40px;
	border-radius: 5px;
}
#about_us .about_us_position .span1{
	color:#28828B ;
	margin-left:10px ;
}
#about_us .about_us_position .span2 a{
	color:gray ;
	text-decoration: none;
}



#about_us .img1 {
	width:380px ;
	height:370px;
	background-image: url(../img/about_us/about1.jpg);
	float: left;
	margin-top:10px ;
}
#about_us .img2 {
	width:465px ;
	height:370px;
	float: right;
	background-image: url(../img/about_us/about2.jpg);
	margin-top:10px ;
}
#about_us .img2 .img_p1{
	font-size:20px;
	margin-left:220px;
	margin-top:100px ;
	font-weight: bold;
}

#about_us .img2 .img_p2{
	font-size:16px;
	margin-top:50px ;
	color:gray ;
	text-indent:30px ;
	font-weight: bold;
}
#about_us .img2 .img_p3{
	font-size:16px;
	margin-top:50px ;
	color:gray ;
	text-indent:30px ;
	font-weight: bold;
}
#about_us .img4 .img_p4{
	font-size:20px;
	margin-top:40px ;
	color:white ;
	margin-left:40px ;
	font-weight: bold;
}
#about_us .img4 .img_p5{
	font-size:16px;
	margin-top:30px ;
	color:white ;
	margin-left:40px ;
	margin-right:40px ;
	text-indent:30px ;
	line-height: 30px;
	
}


#about_us .img3 {
	width:490px ;
	height:100px;
	float:left;
	background-image: url(../img/about_us/about3.jpg);
	margin-left: 200px;
	margin-top:20px ;
}
#about_us .img4 {
	width:390px ;
	height:330px;
	background-color:#28828B;
	float: left;
	margin-top:20px ;
}
#about_us .img5{
	width:400px ;
	height:330px;
	float: right;
	background-image: url(../img/about_us/about4.jpg);
	margin-top:20px ;
}











.foot {
	width: 1200px;
	height: 300px;
	background-image: url("../img/footbg.png");
	position: absolute;
	top: 1600px;
}
.foot1{
	width: 800px;
	height: 88px;
	position: absolute;
	left: 200px;
}
.foot1 h2{
	position: absolute;
	left: 108px;
	top:50px;
	font-size: 14px;
	font-weight: normal;
}
.foot1 .t1{
	position: absolute;
	left: 250px;
}
.foot1 td{
	text-align: center;
}
.foot1 .t1 td a{
	color: #949694;
	text-decoration: none;
}
.foot2{
	width: 1200px;
	height: 188px;
}
.foot2 .left{
   width: 254px;
	height: 120px;
	position: absolute;
	top: 120px;
	left:200px;
}
.foot2 .left .b1{
	width: 73px;
	height:46px;
	border: 3px solid white;
	float: left;
	margin:3px 3px 0px 0px;
}
.foot2 .left .b1:hover{
	border: 3px solid #333333;
}
.foot2 .right{
	width: 270px;
	height: 113px;
	position: absolute;
	left: 750px;
	top:120px;
}
.foot2 .right .erweima1{
	width: 113px;
	height:113px;
	float:left;
}
.foot2 .right .mazhong{
	 width:24px ;
	 height:113px ;
	 float: left;
	font-size: 20px;
	 text-align: center;
	 color: white;
 }
.foot2 .right .erweima2{
	width: 113px;
	height:113px;
	float:left;
}
.foot2 .logo2{
	width: 99px;
	height: 127px;
	position: absolute;
	left:554px;
	top:140px;
}
.foot3{
	width:1200px ;
	height:24px;
	position: absolute;
	top:277px;
}
.foot3 .span1{
	color: #3E598E;
	margin-left:200px ;
	font-size: 14px;
	line-height:28px ;
}
.foot3 .span1 a{
	text-decoration: none;
	color: #3E598E;
}
.foot3 .span2{
	color: #3E598E;
	margin-left:480px ;
	font-size: 14px;
	line-height:28px ;
}
.foot3 .span2 a{
	text-decoration: none;
	color: #3E598E;
}