*{margin: 0;padding: 0;}
body{width: 1220px;margin: 0 auto;background-color: white;font-family: "微软雅黑";font-size: 12px;}
ul,li{list-style: none;}
a{text-decoration: none;color: black;}


.top {
    width: 1220px;
    height: 222px;
    position: absolute;
    background-image: url(../img/topbg.png);
}

.logo {
    width: 152px;
    height: 307px;
    position: relative;
    left: 48px;
    z-index: 100;
}

.top1 {
    width: 200px;
    height: 30px;
    position: relative;
    left: 780px;
    top: -300px;
    color: white;
}
.top1 a{
    text-decoration: none;
    color:white ;
}
.top2 {
    width: 800px;
    height: 50px;
    position: absolute;
    left: 220px;
    top: 50px;
}

#top2_h {
    color: slategray;
    float: left;
}

#top2_p {
    float: right;
    color: darkgrey;
}

.nav {
    width: 800px;
    height: 99px;
    position: absolute;
    left: 220px;
    top: 123px;
}

.nav1 {
    height: 60px;
}

.nav1 ul {
    list-style: none;
}

.nav1 ul li {
    float: left;
}
.nav1 ul li a {
    display: block;
    font-size: 16px;
    color: #708090;
    text-decoration: none;
    width: 80px;
    height: 30px;
    text-align: center;
    margin-top: 15px;
    margin-right: 10px;
}
.nav1 ul li a:hover{
    
    font-weight: bold;
}
.nav2 {
    height: 39px;
}

.nav2 ul {
    list-style: none;
    position: relative;
    left: 30px;
    top: 10px;
}

.nav2 ul li {
    float: left;
}

.nav2 ul li a {
    font-size: 14px;
    margin: 0px 7px;
    text-decoration: none;
    color: white;
}



.banner{
	width: 1220px;
	height: 400px;
	background: #C6C6C6;
	position: absolute;
	top: 222px;

 	margin-right: 5px;
 	}
.img ul{width: 5000px;}
.img{overflow:hidden;width: 1220px; height: 400px;}
.img li{display:inline;float: left;width: 1220px; height: 400px; line-height:400px;}
.img ul,li{list-style-type: none;padding: 0;margin: 0;}
.btnprev{position: absolute;top:-10px;left:-25px;width: 180px;height: 400px;background: url(../img/img_chuzu/btn_prev.png) no-repeat center center;cursor: pointer;display:block;z-index: 10;opacity:0.8}
.btnnext{position: absolute;top:-10px;right:-25px; width: 180px;height: 400px;background: url(../img/img_chuzu/btn_next.png) no-repeat center center;cursor: pointer;display:block;z-index: 10;opacity:0.8}

	
.bannerbo{
	background:#000000;
	width:250px; 
	height:240px;
	opacity: 0.6;
	position: absolute;
	top: 30px;
	right: 130px;
	color: white;
	line-height: 30px;
	padding: 10px;
	}
	
	.main{width: 800px;height: 600px;position: relative;margin: 0 auto; top: 642px;}
	.maintop{width: 100%; height: 40px; border: 1px solid #27818C; border-radius: 12px;line-height: 40px;font-size: 14px;}
	.maintop span{color: #27818C;}
	.mainmidl{line-height: 32px;font-size: 14px;}
	.mainmidl li{list-style-type:circle;margin:10px 0 0 20px ;}
	.mainmidr{position:absolute; width: 300px;height: 300px;top: 80px;right: 0px;line-height: 32px;font-size: 14px;}
	.mainmidr h3{border-bottom: 1px solid #999;width: 280px;margin-bottom: 5px;}
	.mainmidr img{margin: 8px 3px 3px 3px;}
	.mainmidr_1{height: 50px; width: 280px;background: #2E858E;border-radius: 10px; color:white;font-size: 14px;line-height: 50px;text-align: center;}
	.mainmidr_1 span{font-size: 20px; font-weight: bold;}



.footer{float: left;width: 100%;position: relative;top: 800px;}
.footer1{float:left;height: 248px;width: 100%; background-image: url(../img/img_chuzu/bc_footer.jpg);}
.footerleft{margin: 55px 0 0 270px;float: left;}
.footerleft img{margin: 3px 5px 0 0;cursor:pointer;border: 2px solid white;}
.footerleft img:hover{border: 2px solid #999999;}
.footerright{margin: 55px 360px 0 0;float: right;color:white;font-size: 12px;}
.footer2{float: left;width:100%; height: 25px;background-image: url(../img/img_chuzu/bc_footer2.jpg); font-size: 12px;color: #666666;font-family: "微软雅黑";}
.footer2 .f2left{float:left;margin: 6px 0 0 265px;}
.footer2 .f2right{float: right;margin:6px 350px 0 0;}
.footerlogo{position: absolute;bottom: 0;left: 550px;}
.backtop{position: absolute; right:250px;top:-15px; border: 3px solid cadetblue;cursor: pointer;}