*{
	margin: 0px;
	padding: 0px;
}
body{
	margin:0px auto ;
	width:1350px;
}
/*logo头部部分*/
#header{
	width:1350px;
	height:152px;
	z-index:1;
	
}
#logo{
	width:135px;
	height:180px;
	z-index:2;
	margin-left:300px ;
	
}

#header .ul{
	width:800px;
	height:150px;
	position:absolute ;
	left:450px ;
	top: 8px;
	
	
}
#header ul li{
	border-right:1px solid #e5e5e5;
	float: left;
	list-style:none ;
	width:80px;
	
}
#header ul li a{
	text-decoration: none;
	display: block;
}
#header ul li a img{
	margin-left:12px;
}
#header ul li a span{
	display: block;
	width:20px;
	
	margin-left:37px ;
	font-size:15px ;
	color: #000000;
}

#logo img{
	width:135px;
	height:172px;
}
/*图片部分*/
#bigpicture{
	width:1350px;
	height:438px;
	position: absolute;
	border-bottom:2px solid #27828C ;
	
	
}

#bigpicture #bp{
	height:70px;
	width:918px;
	line-height:70px ;
	color:white ;
	position: absolute;
	left:440px;
	bottom:18px ;
	background-color: #444D4F;
	
}
#bigpicture #bp span{
	margin-left:50px;
}
#position{
	width:960px;
	height:42px;

	position: absolute;
	top:600px;


	margin-left: 195px;
	margin-top:24px ;
	border-radius:10px 10px 10px 10px;
	border: 1px solid #27818C;
	
}
#position span{
	color:#27818C;
	line-height:42px ;
}
#position a{
	color: #3E598E;
	text-decoration: none;
}
#position a:hover{
	color: #3E598E;
	text-decoration:underline;
}
/*轮播图部分*/
#lunbotu{
	width:950px;
	height:370px;

	position: absolute;
	top:680px;

	margin-left: 195px;
	margin-top:24px ;
	position: absolute;
	
}
#lunbotu #yuding{
	width:77px;
	height:100px;
	position: absolute;
	left:700px;
	background-image: url(../img/yudingBg.jpg);
	z-index: 2;
	font-size:20px ;
	font-weight: bold;
	font-style: italic;
	color:white ;
	line-height:20px ;
}
#lunbotu a:link {
				color: #00F;
				text-decoration: none;
			}
			
			#lunbotu a:visited {
				color: #00F;
				text-decoration: none;
			}
			
			#lunbotu a:hover {
				color: #c00;
				text-decoration: underline;
			}
			
			#lunbotu ul {
				list-style: none;
				background-color:#EDEDED;
			}
/*菜单class*/
			
		.Menubox {
				width: 100%;
				
				height: 28px;
				line-height: 28px;
			}
			
		.Menubox ul {
				margin: 0px;
				padding: 0px;
				width: 236px;
				height:370px ;
			}
			
		.Menubox li {
				display: block;
				border-bottom: 1px solid #D8D8D8;
				border-right: 1px solid #949694;
				cursor: pointer;
				width: 236px;
				height: 40px;
				text-align: center;
				color: #949694;
				font-weight: bold;
				line-height: 40px;
				font-size:15px
				
			}
		.Menubox li img{
				padding-right:10px ;
				padding-top: 10px;
				float:right;
			}
			
			.Menubox li.hover {
				padding: 0px;
				background: #fff;
				width: 236px;
				height: 40px;
				color: #949694;
				font-weight: bold;
				background-color:#EDEDED;
				line-height: 40px;
			}
			
			.Contentbox {
				height: 370px;
				width: 715px;
				position: absolute;
				top:0px;
				left: 236px;
				z-index:1 ;
			}


/*内容部分*/
#bigcontent{
	width:960px;
	height:530px;

	position: absolute;
	top:650px;

	margin-left:195px ;
	margin-top: 450px;
}
.content{
	width:960px;
	height:150px;
	
	margin-top:24px ;
	

	
	border-top: 1px solid #3E598E;;
}
.content .content_zou{
	
	width:235px;
	height:60px;
	margin-top: 47px;
}
.content .content_zou a{
	text-decoration: none;
	color: #000000;
}
.content .content_zou .top{
	font-size:22px ;
	font-weight: bold;
}
.content .content_zou .bottom{
	font-size:16px ;
	font-weight: bold;
}
.content .content_you{
	margin-left:235px ;
	margin-top:-55px ;
	height:45px;
	
}
.content .content_you span{
	color: #3E598E;
	font-size:14px ;
}
.content .content_youlink{
	border-radius:10px 10px 10px 10px;
	width:103px;
	height:33px;
	border:1px solid #3E598E;
	float:right;
	margin-top:5px ;
	
}
.content .content_youlink a{
	line-height:33px ;
	margin-left: 25px;
	color:black ;
}
.content .content_news{
	width:360px ;
	height:136px;
	margin-left: 235px;
	margin-top: -60px;
	
}
.content .content_news a{
	text-decoration: none;
}
.content .content_news p{
	color: #3E598E;
	font-size:15px ;
}
.content .content_news .span1{
	color: #3E598E;
	font-size: 25px;
}
.content .content_news .span2{
	color: black;
	font-size: 25px;
	font-weight: bold;
}
.content img{
	float:right;
	margin-top:-140px ;
}
/*footer部分*/
#footer{
	width:1350px;
	height:280px;
	position: absolute;
	top:1600px;
	margin-top:100px ;
	background-color: #2E858E;
	border:1px solid #2E858E ;

	
}

#footer #left{
	width:254px;
	height:120px;
	margin-left:210px;
	margin-top:100px ;
	position: absolute;
}
#footer #left div{
	width:67px;
	height:40px;
	padding:3px ;
	border: 3px solid white;
	
}
#footer #left div:hover{
	border: 3px solid #C6C6C6;
}
#footer #left  #b1{
	background-image: url(../img/ft_1.jpg);
	float:left;
	margin-top: 0px;
}
#footer #left  #b2{
	background-image: url(../img/ft_2.jpg);
	margin-left:100px ;

	
}
#footer #left  #b3{
	background-image: url(../img/ft_3.jpg);
	margin-left:200px ;
	margin-top:-50px ;
}
#footer #left  #b4{
	background-image: url(../img/ft_4.jpg);
	margin-top:20px ;
}
#footer #left  #b5{
	background-image: url(../img/ft_5.jpg);
	margin-top:-52px ;
	margin-left:100px ;
}
#footer #left  #b6{
	background-image: url(../img/ft_6.jpg);
	margin-top: -52px;
	margin-left:200px ;
}

#footer #right{
	width:250px;
	height:113px;
	
	margin-left:820px ;
	margin-top: 100px;
}
#footer #right .erweima1{
	width: 113px;
	height:113px;
	float:left;

}
#footer #right .erweima2{
	width: 113px;
	height:113px;
	float:right;

}
#footer #right .mazhong{
	width:24px ;
	height:113px ;
	float: left;
	text-align: center;
	color: white;
}

#footer #logo2{
	width:160px;
	height:312px ;

	margin-left: 600px;
	margin-top:-311px ;
	border-bottom:3px solid #E0E8EA;
	background-image: url(../img/logo2.png);

}
#footer2{
	width:1352px ;
	height:28px;
	background-color:#E0E8EA ;
	margin-top:68px ;
	

}
#footer2 .span1{
	color: #3E598E;
	margin-left:200px ;
	font-size: 14px;
	line-height:28px ;
}
#footer2 .span1 a{
	text-decoration: none;
	color: #3E598E;
}
#footer2 .span2{
	color: #3E598E;
	margin-left:480px ;
	font-size: 14px;
	line-height:28px ;
}
#footer2 .span2 a{
	text-decoration: none;
	color: #3E598E;
}
#roll_top{
	position: fixed;
	right:100px;
	
	top:500px;
	z-index: 10;
	
	background-image: url(../img/roll_top.gif);
	height:60px;
	width:21px ;
	
}
