* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto-Regular';
	list-style: none;
}

.head {
	width: 100%;
	background: url(../img/head_bg.png)no-repeat center center;
	background-size: cover cover;
	/*-webkit-background-size:cover;*/
	/*background;*/
}

@font-face {
	font-family: 'Dorsa-Regular';
	src: url(../fonts/Dorsa-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

.title {
	background: rgba(237, 115, 159, 0.7);
}

.title span {
	font-family: 'Dorsa-Regular';
	font-size: 255px;
	color: white;
	line-height: 255px;
}

.title {
	font-family: 'Dorsa-Regular';
	font-size: 100px;
	color: white;
}

.title p {
	font-family: "微软雅黑";
	font-size: 20px;
}

.title1 {
	padding: 10% 8%;
	font-family: 'Dorsa-Regular';
}

@media (max-width: 980px) {
	.title span {
		font-size: 200px;
		line-height: 200px;
	}
	.title {
		font-size: 80px;
	}
}

@media (max-width: 768px) {
	.title span {
		font-size: 170px;
		line-height: 170px;
	}
	.title {
		font-size: 60px;
	}
}

@media (max-width: 650px) {
	.title span {
		font-size: 100px;
		line-height: 100px;
	}
	.title {
		font-size: 40px;
	}
}
.btn1 {
	border-radius: 0px;
	border-color: rgb(142, 92, 170);
	color: rgb(142, 92, 170);
}
.content h1 {
	margin-bottom: 14%;
	margin-top: 14%;
	text-align: center;
	font-family: "Dorsa-Regular";
	color: rgba(238, 35, 120, 1);
	font-size: 50px;
	font-weight: bold;
}
@media (max-width: 990px) {
	.content h1 {
		margin-bottom: 3%;
		margin-top: 3%;
	}
}
/*.nav_bc{
	background-color: #803d9a;
}
.nav_bc a{
	text-decoration: none;
}
.nav_center{
	float: none;
	text-align: center;
	color:#c17cdb;
	font-size: 16px;
}
.nav_center p{
	margin: 0;
	padding: 0;
}
.nav_center:hover p{
	color: white;
}
.header-nav{
	background-color: #803d9a;
}
.header-nav ul{
    margin: 0;
     	      }    	     
.header-nav li{
    font-size: 1.2em;
    line-height:1.5em;
    padding: 20px 4%;
  }  	     
.header-nav li a{
    color:#c17cdb;
	position: relative;
    text-decoration: none;
	display: inline-block;
    
}    	  
 .header-nav li a:before {
    position: absolute;   	
    top: 0px;
    left: 0px;
    overflow: hidden;
    width: 0%;
    border-bottom: 2px dotted #fff;
    color: #fff;
    content: attr(data-hover);
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    
          }           
.header-nav li a:hover:before {
	
    width: 100%;
}   
@media only screen and (max-width:767px ) {
	.nav_inline li{
		display: block;
	}
}*/
/*.nav_inline{
	box-shadow: none ;
}*/

.content h2 {
	color: #803d9a;
}
.content p {
	font-size: 17px;
}
.content small {
	font-size: 13px;
	line-height: 15px;
}
#offer a {
	color: #dc6788;
}
#offer .panel-body {
	padding: 0px 2em;
}
.offer2 {
	padding: 20px 0px;
}
.offer2 li {
	font-size: 1.2em;
	line-height: 2.2em;
}
.offer2 li span {
	color: #f683b3;
	padding: 0.7em;
	transition: .6s all ease;
	-webkit-transition: .6s all ease;
	-moz-transition: .6s all ease;
	left: 0;
}
.offer2 li:hover {
	color: #f683b3;
	text-decoration: underline;
}
.offer2 li:hover span {
	left: 0.5em;
}
.offer2 span{
	padding-left:  0px !important;
}
.menu h1{
	font-family: 'Dorsa-Regular';
	text-align: center;
	color: rgba(238, 35, 120, 1);
	font-size: 50px;
	font-weight: bold;
}
.menu img{
	margin-bottom: 15px;
}
      .footer{
                background-color: #803d9a;
                text-align: center;
                color:#FFFFFF;
                font-size: 1em;
                line-height: 5em;
              }
              