
.nav_bc{
	background-color: #803d9a;
}
.nav_bc a{
	text-decoration: none;
}
.nav_center{
	float: none;
	text-align: center;
	color:#c17cdb;
	font-size: 16px;
}
.nav_center p{
	margin: 0;
	padding: 0;
}
.nav_center:hover p{
	color: white;
}
.header-nav{
	background-color: #803d9a;
}
.header-nav ul{
    margin: 0;
     	      }    	     
.header-nav li{
    font-size: 1.2em;
    line-height:1.5em;
    padding: 20px 4%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }  	     
.header-nav li a{
    color:#c17cdb;
	position: relative;
    text-decoration: none;
	display: inline-block;
}
  .header-nav li:hover{
             	-webkit-transform:scaleY(1.3) skewX(30deg);
             	background-color: #204D74;      
    }
    	  
 .header-nav li a:before {
    position: absolute;   	
    top: 0px;
    left: 0px;
    overflow: hidden;
    width: 0%;
    border-bottom: 2px dotted #fff;
    color: #fff;
    content: attr(data-hover);
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    
          }           
.header-nav li a:hover:before {
	
    width: 100%;
}   
@media only screen and (max-width:767px ) {
 
   	
   	
   	.header-nav li{
		display: block;
		
	 
	}
	 .header-nav li:hover{
         -webkit-transform:none;
       	/*background-color: #204D74;*/      
    }
}