*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 12px;
    margin: 0px auto;
    font-family: "宋体";
    width: 1220px;
    /*-webkit-align-items: center;*/
    /*-ms-flex-align: center;*/
    /*align-items: center;*/
}
header{
    width: 100%;
    height: 190px;
    position: relative;
}
header .top{
    width: 100%;
    height: 30px;
    background-color: #393939;
}
header .logo{
    width: 100%;
    height: 109px;
    border-bottom: 2px solid #34a03d;
}
header .logo1{
    width: 980px;
    height: 100%;
    margin: 0px auto;
}
header .logo1 .logo11{
    width: 200px;
    height: 100%;
    float: left;
}
header .logo1 .logo11 h2{
    margin-left: 60px;
    margin-top: 24px;
}
header .logo1 .message{
    width: 500px;
    height: 100%;
    float: left;
}
header .logo1 .message p{
    margin-top: 40px;
    margin-left: 57px;
    color: #898989;
}
header .logo1 .message p em{
    font-size: 14px;
    font-style: normal;
    color:black;
}
header .logo1 .message span{
    display: block;
    width: 300px;
    height: 33px;
    background-image: url("../img/logo2.png");
    font-size: 14px;
    margin-left: 100px;
    margin-top: 5px;
    text-align: center;
    line-height: 33px;
}
header .logo1 .logo13{
    width: 280px;
    height: 100%;
    float: left;
}
header .logo1 .logo13 p{
    margin-left: 4px;
    margin-top: 14px;
    color: #898989;
}
header .logo1 .logo13 table{
    margin-top: 20px;
    margin-left: 80px;
    font-size: 14px;
}
header .nav{
    width: 100%;
    background-color: #f2f2f2;
    height: 49px;
}
header .nav .menu{
   width: 980px;
    height: 100%;
    margin: 0px auto;
}
header .nav .menu ul{
    list-style: none;
    margin-left: 155px;
}
header .nav .menu ul li{
    float: left;

}
header .nav .menu ul li a{
    display: block;
    text-decoration: none;
    width: 90px;
    height: 49px;
    text-align: center;
    line-height: 49px;
    font-size: 14px;
    color:#68ae3c;
}
header .nav .menu ul li a:hover{
    background-color: #68ae3c;
    color:white;
}
.banner{
    width: 100%;
    height: 407px;
}
.center{
    width: 100%;
    margin-top: 20px;
}
.center .service{
    margin: 0px auto;
    width: 980px;
    height: 430px;
}
.service_a{
    width: 520px;
    height: 39px;
    margin: 40px auto;
}
.service_a ul{
    list-style: none;
}
.service_a ul li{
    float: left;
    width: 120px;
    height: 39px;
    margin: 0px 5px;
    text-align: center;
    background-color: #f6f6f6;
    font-size: 14px;
    color:#68ae3c;
    vertical-align:middle;
}
.service_a ul li img{
    margin-top: 6px;
}
.service_a ul li:hover{
    background-color: #68ae3c;
    color:white;
    cursor:pointer;
}
.service_b{
    width: 980px;
    height: 240px;
    margin: 0px auto;
}
.service_b ul{
    list-style: none;
}
.service_b ul li{
    float: left;
    margin: 0px 5px;
    background-color: #68ae3c;
}
.service_b ul li:hover{
    background-color: #761c19;
}
.service_bottom{
    width: 234px;
    height: 54px;
    margin-top: 7px;
    background-color: #f6f6f6;
}
.service_bottom p{
   padding-top: 10px;
    padding-left:  5px;
}
.service_bottom span{
    padding-left: 5px;
    color: #716f70;
}
.center .introdution{
    width: 100%;
    height: 450px;
    background-image: url("../img/introbg.png");
}
.introdution .intro{
    width: 980px;
    height: 450px;
    margin:0px auto;
}
.intro .intro_cen{
    width: 548px;
    height: 235px;
    position: relative;
    top: 115px;
    left:38px;
    padding: 10px;
    border: 2px solid #68ae3c;
    font-size: 14px;
}
.intro .intro_bot{
    width: 440px;
    height: 89px;
    position: relative;
    top:70px;
    left:98px;
}
.intro_bot ul{
    list-style: none;
    text-align: center;
}
.intro_bot ul li{
    float: left;
    margin: 0px 10px;
}
.center .tel{
    width: 100%;
    height: 160px;
}
.center .culture{
    width: 100%;
    height: 800px;
    background-image: url("../img/culture.png");
}
.culture .hope{
    width:275px;
    height: 100px;
    position: relative;
    top: 40px;
    left: 630px;

}
.culture .hope .one{
    width:80px;
    height: 20px;
    position: relative;
    margin-left: 0px;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
}
.culture .hope .two{
    width:275px;
    height: 80px;
    position: relative;
    margin-left: 0px;

}
.culture .forward{
    width:275px;
    height: 100px;
    position: relative;
    top: 70px;
    left: 250px;

}
.culture .forward .one{
    width:80px;
    height: 20px;
    margin-left: 220px;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;

}
.culture .forward .two{
    width:275px;
    height: 80px;
    position: relative;
    margin-left: 0px;

}
.culture .management{
    width:275px;
    height: 100px;
    position: relative;
    top: 78px;
    left: 630px;

}
.culture .management .one{
    width:80px;
    height: 20px;
    position: relative;
    margin-left: 0px;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;

}
.culture .management .two{
    width:275px;
    height: 80px;
    position: relative;
    margin-left: 0px;
}
.culture .value{
    width:275px;
    height: 100px;
    position: relative;
    top: 115px;
    left: 250px;

}
.culture .value .one{
    width:80px;
    height: 20px;
    margin-left: 210px;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;

}
.culture .value .two{
    width:275px;
    height: 80px;
    position: relative;
    margin-left: 0px;

}
.center .project{
    width: 100%;
    height: 610px;
    background-color: #f3f3f3;
}
.project1{
    width: 980px;
    height: 610px;
    margin: 0px auto;
}
.project_left{
    width: 589px;
    height: 480px;
    border-right: 1px dashed #6e8096;
    float: left;
}
.project_left dl{
    width: 580px;
    height: 220px;
    border-bottom: 1px dashed #6e8096;
    margin-top: 15px;
}
.project_left dl dt{
    float: left;
    margin-left: 20px;
}
.project_left dl dt p{
    margin-left: 150px;
    margin-top: 10px;
}
.project_left dl dd{
    float: left;
    margin-left: 80px;
}
.project_left dl dd ol li{
    margin-top: 3px;
}
.project_right{
    width: 389px;
    height: 480px;
    float: left;
}
.project_right dt{
    margin-left: 40px;
}
/*.project_right dl dt p{*/
    /*margin-left: 150px;*/
    /*margin-top: 10px;*/
/*}*/
.project_right dl dd{
    margin-left:40px;
}
.project_right dl dd ol li{
    margin-top: 5px;
}
.project_right p{
    margin-top: 20px;
    margin-left: 20px;
}
footer{
    width: 100%;
    height: 269px;
    background-image: url("../img/footbg.png");
}
.foot-nav{
    width: 559px;
    height:48px ;
    position: relative;
    top:29px;
    left:363px;
}
.foot-nav ul{
    list-style: none;
}
.foot-nav ul li{
    float: left;
    width: 79px;
    height: 48px;
    line-height: 48px;
    color: white;
    cursor: pointer;
}
.foot-bot{
    width: 100%;
    height: 190px;
    margin: 28px 0px auto;
    text-align: center;
    color: white;
}
.foot-bot p{
    padding-top:30px;
}