#container{
    position: relative;
    z-index: 1;
}

#allpic{
    width: 580px;
    height:300px;
    position: absolute;
    top:600px;
    left:300px;
    display: none;
    float: left;

    z-index: 2;
}
#allpic img{
    float: left;
    margin-left: 20px;
}



#container .tour{
    width: 910px;
    margin:15px 0px 10px 30px;
}
#container .tour figure{
    border:1px solid #ddd;
    display: inline-block;
    text-align: left;
    width: 388px;
    border-radius: 4px;
    margin:10px 30px 10px 0px;
    position: relative;
}
#container .tour img{
    margin: 4px;
    float: left;
}
#container .center h2{
    font-size: 24px;
    width: 850px;
    height: 40px;
    color: #666;
    border-bottom: 1px dashed #888;
}
#container .tour figcaption{
    text-align: center;
    font-size: 14px;
    color: #777777;
    margin: 6px 0;
}
#container .last a{
    display: block;
    width:110px;
    margin:10px 400px 0 400px;
    padding: 8px 20px;
    text-align: center;
    color: #777;
    background-color: #FAFAFA;
    border:1px solid #D0D0D0;
    border-radius: 5px;
}